@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

:root {
    --nav-height: 72px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    overflow-x: hidden;
}

body.disable-scroll {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}